@tailwind base;
@tailwind components;
@tailwind utilities;


/* layer injects */
@layer components {
    .button {
        @apply btn;
        @apply px-6 py-4;
        @apply rounded-full font-semibold;
        @apply text-white;
    }

    .primary-btn {
        @apply button bg-TPrimary border border-TPrimary;
        @apply hover:bg-transparent hover:text-TPrimary hover:border-TPrimary;
    }
}



/* Customize packages class */
.slick-list {
    margin: 0 -10px;
}

.slick-slide>div {
    padding: 0 10px;
}

.menu li>*:not(ul):not(.menu-title):not(details):active {
    @apply bg-transparent;
}

.menu li>*:not(ul):not(.menu-title):not(details):focus {
    @apply bg-transparent;
}

.menu li>*:not(ul):not(.menu-title):not(details):hover {
    @apply bg-transparent;
}


/* Global app css */
html {
    scroll-behavior: smooth;
}


/* React gallery modification */

.image-gallery-image {
    border-radius: 7px !important;
}

.image-gallery-thumbnail-image {
    border-radius: 7px !important;
    padding: 4px;
}

.image-gallery-thumbnail.active {
    border-radius: 7px;
    border: 2px solid #2D2D2D !important;
}

.image-gallery-thumbnail:hover {
    border-radius: 7px;
    border: 2px solid #2D2D2D !important;
}

.image-gallery-thumbnail {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: border .1s ease-out;
    width: 100px;
    background: transparent;
    padding: 0;
}

.image-gallery-swipe {
    margin-left: 20px !important;
}

/* Daisy ui collapse */
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
    min-height: 5px !important;
}

.collapse-title::after {
    top: 1rem !important;
}